---
title: Getting Started Deploying Ruby on Rails Apps
---

<%=vars.GSG_intro_sentence%>

This guide is intended to walk you through deploying a Ruby on Rails (RoR) app to <%=vars.product_full%>. You can choose whether to push a sample app, your own app, or both.

If at any time you experience a problem following the steps below, try checking the <%=vars.known_issues%>, or refer to the [Troubleshooting Application Deployment and Health](./../../devguide/deploy-apps/troubleshoot-app-health.html) topic for more tips.

## <a id='deploy-sample'></a>Deploy a RoR Sample Application ##

This section describes how to deploy a RoR sample application named `rails_sample_app`.

To learn how to deploy your own RoR app, see [Deploy Your RoR Application](#deploy-yourapp).

### <a id='sample-prereqs'></a>Prerequisites ###

* [Git](http://git-scm.com) configured on your workstation and a [GitHub](https://github.com) account
* Basic RoR knowledge

### <a id='sample-step1'></a>Step 1: Get a Sample RoR App from GitHub ###

Run `git clone https://github.com/cloudfoundry-samples/rails_sample_app` to clone `rails_sample_app` from GitHub.

### <a id='sample-step2'></a>Step 2: Login to <%=vars.product_short%> and Target the API Endpoint   ###
Run `cf login -a [API_ENDPOINT]`, enter your login credentials, and select a space and org. 

For more information about determining the API endpoint, refer to the <%=vars.gen_GSG%> 

### <a id='sample-step3'></a>Step 3: Deploy the Sample App to <%=vars.product_short%> ###

1. `cd` to the cloned app directory.
1. Run `cf create-service elephantsql turtle rails-postgres`.
1. Run `cf push rails_sample_app -n HOST_NAME`.

Example: `cf push rails_sample_app -n jc0825-rails`

  `cf push APP_NAME` pushes the specified app from the current directory to <%=vars.product_short%>. Use the `-n` flag to create a unique host name for the app to avoid URL collisions with other apps.

  `cf push` automatically searches for an [application manifest YAML file](./../../devguide/deploy-apps/manifest.html) (`manifest.yml`) and also determines the appropriate [buildpack](./index.html) for the app.  A manifest specifies what `cf push` should do with the app and the buildpack provides framework and runtime support for your app. 

  The example shows the terminal output of deploying the `rails_sample_app`. `cf push` uses the instructions in the manifest file to create the app, create and bind and the route, and upload the app to <%=vars.product_short%>. It then binds the app to the `rails-postgres` service you defined in the previous step, and follows the instructions in the manifest to start one instance of the app with 256M. After the app starts, the output displays the health and status of the app.

<pre class="terminal">

$ cf push rails_sample_app -n jmt2014-rails
Using manifest file /Users/pivotal/workspace/rails_sample_app/manifest.yml

Updating app rails_sample_app in org Cloud-Apps / space development as clouduser@example.com...
OK

Using route jmt2014-rails.cfapps.io
Uploading rails_sample_app...
Uploading app files from: /Users/pivotal/workspace/rails_sample_app
Uploading 445.7K, 217 files
OK
Binding service rails-postgres to app rails_sample_app in org Cloud-Apps / space development as clouduser@example.com...
OK

Starting app rails_sample_app in org Cloud-Apps / space development as clouduser@example.com...
OK

...

0 of 1 instances running, 1 starting
1 of 1 instances running

App started

Showing health and status for app rails_sample_app in org Cloud-Apps / space development as clouduser@example.com...
OK

requested state: started
instances: 1/1
usage: 256M x 1 instances
urls: jmt2014-rails.cfapps.io

     state     since                    cpu    memory          disk   
#0   running   2014-08-25 03:32:10 PM   0.0%   68.4M of 256M   73.4M of 1G 

</pre>

### <a id='sample-step4'></a>Step 4: Test the Sample App ###

You’ve deployed your first app to <%=vars.product_short%>! Now let’s access your app online using its URL.
In the terminal output, the `urls` field of the `App started` block contains the app URL. This is the `HOST_NAME` you specified with the `-n` flag plus the domain `cfapps.io`. The image shows the resulting webpage for the `rails_sample_app`.

<%= image_tag("../images/RoR_sample_webpage.png") %>


You can now use the `cf` CLI and the Developer Console to review information and administer your app and your <%=vars.product_short%> account. For example, you could edit the `rails_sample_app/manifest.yml` to increase the number of app instances from 1 to 3, and use the CLI to redeploy the app with a new app name and host name. 

See the [Manage Your Application with the cf CLI](#cli-manage) and [Manage Your Application with the <%=vars.product_short%> Developer Console](#console-manage) sections for more information.

## <a id='deploy-yourapp'></a>Deploy Your RoR Application ##

This section describes how to deploy your RoR application to <%=vars.product_short%>.

### <a id='yourapp-prereqs'></a>Prerequisites ###

* [Bundler](http://bundler.io) configured on your workstation
* (Optional) [Git](http://git-scm.com) configured on your workstation and a [GitHub](https://github.com) account
* Intermediate to advanced RoR knowledge
* (Optional) Robust production web server for Ruby and RoR apps, such as Unicorn
* Your Rails 4.x app that runs locally on your workstation

### <a id='yourapp-step1'></a>Step 1: Add the rails_12factor Gem to Your Gemfile ###

1. Add `gem rails_12factor group: :production` to your Gemfile.

    <pre class="note"><strong>Note</strong>:  This gem includes the <code>rails&#095;serve&#095;static&#095;assets</code> gem that enables your Rails app to run in production with the static assets serving functionality. The <code>rails&#095;serve&#095;static&#095;assets</code> gem does this by automatically modifying the <code>config.serve&#095;static&#095;assets</code> configuration parameter from <code>false</code> to <code>true</code>. Do not change the value for this option. For more information, refer to the <a href="https://github.com/heroku/rails_12factor">Rails_12factor GitHub README</a>.</pre>

1. Run `bundle install` to update your Gemfile.

### <a id='yourapp-step2'></a>Step 2: (Optional) Configure Automatically Invoked Rake Tasks for Deployed Applications ###

<%=vars.product_short%> does not provide a way to run a Rake task on a deployed application. For <%=vars.product_short%> to automatically invoke a Rake task while an app is deployed, you must include the Rake task in your application and also configure the application start command with the `command` attribute in the application manifest, `manifest.yml`. 
The following is an example of how to invoke a Rake database migration task at application startup. 

1. Create a file with the Rake task name and the extension `.rake`, and store it in the `lib/tasks` directory of your application.

1. Add the following code to your `<name>.rake` file:

    <pre class="code">
namespace :cf do
  desc "Only run on the first application instance"
  task :on_first_instance do
    instance_index = JSON.parse(ENV["VCAP_APPLICATION"])["instance_index"] rescue nil
    exit(0) unless instance_index == 0
  end
end

    </pre>

    This Rake task limits an idempotent command to the first instance of a deployed application.

1. Add the task to the `manifest.yml` file with the `command` attribute, referencing the idempotent command `rake db:migrate` chained with a start command.

    <pre class="code">
applications:
 &#8208; name: my-rails-app
 command: bundle exec rake cf:on_first_instance db:migrate && rails s -p $PORT

    </pre>

For information on how to configure a manifest file, refer to [Step 4: Configure the Manifest File](#yourapp-step4). 

### <a id='yourapp-step3'></a>Step 3: Configure a Service Instance for Your RoR Application ###

This section describes using the CLI to configure a PostgreSQL managed service instance for your app. <%=vars.dev_console_1%>

<%=vars.product_short%> supports two types of service instances: 

* Managed services integrate with <%=vars.product_short%> through service brokers that offer services and plans and manage the service calls between <%=vars.product_short%> and a service provider. 
* User-provided service instances enable you to bind your application to pre-provisioned external service instances.

For more information on creating and using service instances, refer to the [Services Overview](./../../devguide/services/index.html) topic.

Run `cf marketplace` to view managed and user-provided services and plans available to you. 

The example shows three of the available managed database-as-a-service providers and their offered plans: `cleardb` MySQL, `elephantsql` PostgreSQL as a Service, and `mongolab` MongoDB-as-a-Service.

<pre class="terminal">

$  cf marketplace
Getting services from marketplace in org Cloud-Apps / space development as clouduser@example.com...
OK


service          plans 	description                                                               

...
cleardb          spark, boost, amp, shock  	Highly available MySQL for your Apps                                         

...
elephantsql      turtle, panda, hippo, elephant   PostgreSQL as a Service                                      
...
mongolab         sandbox   	Fully-managed MongoDB-as-a-Service                                                               
...
</pre>

Run `cf create-service SERVICE PLAN SERVICE_INSTANCE` to create a service instance for your app.

Choose a service and plan from the list, and provide a unique name for the service instance. The example shows creating a service instance named `rails-postgres` that uses the `elephantsql` service and the `turtle` plan. 

<pre class="terminal">

$   cf create-service elephantsql turtle rails-postgres
Creating service rails-postgres in org Cloud-Apps / space development as clouduser@example.com....
OK

</pre>

### <a id='yourapp-step4'></a>Step 4: Configure the Manifest File  ###

You can specify deployment options in a manifest that the `cf push` command uses. 
This section describes how to bind the service that you created in the previous step to your app. For more information about application manifests, and supported attributes, refer to the [Deploying with Application Manifests](./../../devguide/deploy-apps/manifest.html) topic. 
Add a `services` block to the `applications` block and specify the service instance you created in Step 3.

<pre class="code">
---
applications:
- name: rails-sample
  memory: 256M
  instances: 1
  path: .
  command: bundle exec rake db:migrate && bundle exec rails s -p $PORT
  services:
    - rails-postgres
</pre>

You can also bind a service using the CLI <%=vars.dev_console_2%>.

### <a id='yourapp-step5'></a>Step 5: Login to <%=vars.product_short%> and Target the API Endpoint   ###
Run `cf login -a [API_ENDPOINT]`, enter your login credentials, and select a space and org.

For more information, refer to the <%=vars.gen_GSG%> 

### <a id='yourapp-step6'></a>Step 6: (Optional) Configure a Production Server  ###

<%=vars.product_short%> uses the default Ruby web server library WEBrick for Ruby and RoR apps. However, <%=vars.product_short%> can support a more robust production web server, such as Phusion Passenger, Puma, Thin, or Unicorn. To set a different production web server for your app:

1. Modify your app to use the production web server.
1. Configure the `web` setting in a Procfile to point to the production web server. 

When you deploy, `cf push` detects that your app requires the Cloud Foundry Ruby [buildpack](./index.html), and that buildpack uses the modified Procfile to configure your app with the changed production web server settings. For an example of how to configure an application and a Procfile to use a different web server, refer to the [Heroku Deploying Rails Applications with Unicorn](https://devcenter.heroku.com/articles/rails-unicorn) topic.

### <a id='yourapp-step7'></a>Step 7: Deploy Your Application ###
When you deploy your application, `cf push`:

 * Creates a URL that is the route to your application. The URL is in the form HOST.DOMAIN, where HOST is the APP_NAME  and DOMAIN is `cfapps.io`.
 * Automatically searches for an application manifest YAML file (`manifest.yml`). A manifest specifies what `cf push` should do with the app.
 * Automatically determines the appropriate buildpack for the app. A buildpack provides framework and runtime support for your app.

<pre class="note"><strong>Note</strong>: You must use the CLI to deploy apps.</pre>

For example: `cf push my-app` creates the URL `my-app.cfapps.io`.

1. `cd` to the app directory that you want to deploy.
1. Run `cf push APP-NAME`  

    The URL for your app must be unique from other apps that <%=vars.product_short%> hosts or the push will fail. You can use the following options to create a unique URL:
    * `-n` to assign a different HOST name for the app.
    * `--random-route` to create a URL that includes the app name and random words.
  Run `cf help push` to view other options for this command.

1. Launch a new terminal window and run `cf logs APP-NAME` to simultaneously view log activity while the app deploys.
1. Browse to your app URL.

    Search for the `urls` field in the `App started` block in the output of the `cf push` command to access your app online.

    <pre class="terminal">
    
    App started

    Showing health and status for app rails_sample_app in org Cloud-Apps / space development as clouduser@example.com...
    OK

    requested state: started
    instances: 1/1
    usage: 256M x 1 instances
    urls: jmt0814-rails.cfapps.io


         state     since                    cpu    memory        disk   
    #0   running   2014-08-13 02:45:51 PM   0.0%   69M of 256M   72.7M of 1G
    </pre>

## <a id='cli-manage'></a>Manage Your Application with the cf CLI ##

Run `cf help` to view a complete list of commands, grouped by task categories, and run `cf help COMMAND` for detailed information about a specific command. For more information about using the `cf` CLI, refer to the cf Command Line Interface (CLI) topics, especially the <%=vars.cli_v6%> topic.

<pre class="note"><strong>Note</strong>: You cannot perform certain tasks in the CLI <%=vars.dev_console_2%> because these are commands that only a <%=vars.product_short%> administrator can run. If you are not a <%=vars.product_short%> administrator, the following message displays for these types of commands: 

<code>error code: 10003, message: You are not authorized to perform the requested action</code>

<%=vars.dev_console_note%> 
</pre>

## <a id='console-manage'></a>Manage Your Application with the <%=vars.product_short%> Developer Console ##
You can also use the Developer Console to view and modify information about your app, such as:

* Starting, stopping, and restarting your app
* Creating, binding, unbinding, and deleting service instances
* Creating and deleting orgs and spaces
* Launching the URL for an app in a browser window
* Viewing logs

<%=vars.dev_console_3%> 

## <a id='troubleshoot'></a>Troubleshooting ##
If your application fails to start on Cloud Foundry, verify that the application starts in your local environment. Refer to the [Troubleshooting Application Deployment and Health](./../../devguide/deploy-apps/troubleshoot-app-health.html) topic to learn more about troubleshooting.

### <a id='deploy-fails'></a>App Deploy Fails ###
Even when the deploy fails, the app might exist on <%=vars.product_short%>. Run `cf apps` to review the apps in the currently targeted org and space. You might be able to correct the issue using CLI commands or Developer Console functionality, or you might have to delete the app and redeploy.

Common reasons why deploy an app fails include:

* You did not successfully create and bind a needed service instance to the app, such as a PostgreSQL or MongoDB service instance. You can create and bind services using the CLI, the Developer Console, or both. You can also bind an existing service by declaring it in the manifest file. Refer to [Step 3: Configure a Service Instance for Your RoR Application](#yourapp-step3) and [Step 4: Configure the Manifest File](#yourapp-step4).
* You did not successfully create a unique URL for the app. Refer to the troubleshooting tip App Requires Unique URL.

### <a id='unique-url'></a>App Requires Unique URL ###
<%=vars.product_short%> requires that each app that you deploy have a unique URL. Otherwise, the new app URL collides with an existing app URL and <%=vars.product_short%> cannot successfully deploy the app. You can fix this issue by running `cf push` with either of the following flags to create a unique URL:

* `-n` to assign a different HOST name for the app.
* `--random-route` to create a URL that includes the app name and random words. Using this option might create a long URL, depending on the number of words that the app name includes.

## <a id='learn-more'></a>Learn More ##
For more information on how to develop, deploy, and manage applications with Cloud Foundry, refer to the [Developer Guide](./../../devguide/index.html). 


 
 
 
 
 